
#basket{
    position: relative;
    top: 5px;
    display: block;
    /* width: 24px; */
    /* height: 24px; */

    width: 30px;
    height: 30px;
    margin: auto;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23036838' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='9' cy='21' r='1'%3E%3C/circle%3E%3Ccircle cx='20' cy='21' r='1'%3E%3C/circle%3E%3Cpath d='M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6'%3E%3C/path%3E%3C/svg%3E");

    background-size: cover;
}

#basket-sum {
    position: absolute;
    top: -6px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* background: var(--green); */
    color: var(--white);
    background: var(--gray);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}