#connect{
    padding: 60px 0;
    background-color: var(--bg-block);
    background-image: url('../temp/connect.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 500px 281px;
    min-height: 400px;
    display: flex;
    align-items: center;
}

#connect .wrapper {
    padding: 0 25% 0 0;
}

#connect h3{
    margin: 0 0 30px;
}

#connect p{
    margin: 0 0 30px;
}

#connect a{
    display: inline-block;
    font-size: 28px;
    padding-right: 20px
}

@media(max-width:996px) {
    #connect{
        background-image: none;
    }

    #connect .wrapper {
        padding: 0;
    }
}