
/* #filter{} */

#filter h1{
    background: var(--bg-block);
    padding: 20px 10px;
    color: var(--dark);
    font-weight: 500;
    font-size: 22px;
    line-height: 1;
}

#filter .title{
    background: var(--bg-block);
    margin: 20px 0;
    padding: 20px 10px;
    color: var(--green);
    font-weight: 500;
    font-size: 22px;
}

/* обгортка для блоку чекбоксів */
#filter .filter-items{
    margin: 0 0 50px;
}

#filter label{
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin: 10px 0;
    padding: 0 0 0 10px;
}

#filter label input{
    margin-right: 5px;
}

#filter label span{
    margin-left: auto;
    color: var(--gray-light);
    padding-right: 5px;
}

#filter label:hover span{
    color: var(--orange);
}

/* обгортка для ціни */
#filter-price{
    /* margin: 0 0 50px; */
    margin: 0 0 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#filter-price input{
    padding: 7px 5px;
    border: 2px solid var(--green);
    outline: none;
    width: auto;
    max-width: 120px;
}

#filter-price input::-webkit-outer-spin-button,
#filter-price input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#filter-price input[type="number"] {
  -moz-appearance: textfield;
}

/* /////
бігунки
///// */
#filter-range{
    margin: 0 0 50px;
}

#filter-range input[type="range"]{
    width: 100%;
}   

#filter-range input[type="range"] {
    display: block;
    height: 2em;
    margin: 0;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
}

#filter-range input[type="range"] + input[type="range"] {
    margin-top: -2em;
}

#filter-range input[type="range"]:focus {
    outline: none;
}

/* webkit */
#filter-range input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: var(--gray);
}

#filter-range input[type=range]::-webkit-slider-thumb {
    border: 2px solid var(--orange);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    background: var(--gray-ultralight);
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    margin-top: -14px;
    pointer-events: all;
    position: relative;
}

#filter-range input[type=range]::-webkit-slider-thumb::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    z-index: 1;
}

#filter-range input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--gray);
}

/* moz */
#filter-range input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: var(--gray);
}

#filter-range input[type=range]::-moz-range-thumb {
    border: 2px solid var(--orange);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    background: var(--gray-ultralight);
    cursor: pointer;
    pointer-events: all;
    position: relative;
}

#filter-range input[type=range]::-moz-range-thumb::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    z-index: 1;
}

/* ie */
#filter-range input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

#filter-range input[type=range]::-ms-fill-lower {
    background: var(--gray);
}

#filter-range input[type=range]::-ms-fill-upper {
    background: var(--gray);
}

#filter-range input[type=range]::-ms-thumb {
    border: 2px solid var(--orange);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    background: var(--gray-ultralight);
    cursor: pointer;
    pointer-events: all;
    position: relative;
}

#filter-range input[type=range]::-ms-thumb::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    z-index: 1;
}

#filter-range input[type=range]:focus::-ms-fill-lower {
    background: var(--gray-ultralight);
}

#filter-range input[type=range]:focus::-ms-fill-upper {
    background: var(--gray-ultralight);
}