
#header{
    background: var(--gray-ultralight);
    padding: 20px 0
}

#header .wrapper{
    grid-template-columns: auto 1fr;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#nav a {
    color: var(--gray-dark);
    text-decoration: none;
    font-weight: 500;
    /* font-size: 14px; */
    transition: .5s;
}

#nav a:hover{
    color: var(--green);
    text-shadow: 0 0 15px rgba(3, 104, 56, 0.25);
}

/* на мобільному додаємо кошик справа */
/* 
@media(max-width:1240px) {

    #header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 93px;
        z-index: 10;
    }

    #header-spacer{
        height: 93px;
    }

    #header .wrapper{
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
    }

    #nav,
    #logo{
        display: none;
    }

    #mobile-button{
        order:1;
        margin-right: auto;
        width: 48px;
        height: 20px;
        cursor: pointer;

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cline stroke-width='4' stroke='%23006837' fill='none' x1='1' y1='2' x2='47' y2='2'/%3E%3Cline stroke-width='4' stroke='%23006837' fill='none' x1='1' y1='10' x2='47' y2='10'/%3E%3Cline stroke-width='4' stroke='%23006837' fill='none' x1='1' y1='18' x2='47' y2='18'/%3E%3C/g%3E%3C/svg%3E");
    }

    #header #search{
        order: 2;
    }

    #header #basket{
        order: 3;
        margin: 0 13px 0 auto;
    }
}

@media(max-width:450px) {
    #header .wrapper{
        grid-template-columns: auto 1fr auto;
        grid-gap: 10px;
    }
} */

@media(max-width:1240px) {
    #header{
        display: none;
    }
}