.levus-tooltip{
    position: relative;
    height: 40px;
}

.levus-tooltip .content{
    display: block;
    position: absolute;
    left: calc(50% - 40px);
    /* bottom: -240%; */
    top: 120%;
    z-index: 2;
    width: 80px;
    padding: 10px 1px;
    background: var(--green-dark);
    color: var(--white)!important;
    text-align: center;
    text-indent: 0px;
    font-size: 16px;

    opacity: 0;
    transition: 1s;
    animation: show 4s;
    transform-origin: 0 0;
}

.levus-tooltip .content::before {
    content: '';
    position: absolute;
    top: -10px;
    left: calc(50% - 10px);
    display: inline-block;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background: var(--green-dark);
}

@keyframes show {
    0%{
        opacity: 0;
        transform: rotateX(90deg);
    }    
    100%{
        transform: rotateX(0);
        opacity: 1;
    }
}

@media(max-width:776px) {
    /* перший елемент */
    .levus-tooltip.first .content{
        left: calc(50% - 30px);
    }
    .levus-tooltip.first .content::before{
        left: calc(50% - 20px);
    }

    /* останній */
    .levus-tooltip.last .content{
        left: auto;
        right: calc(50% - 30px)
    }
    .levus-tooltip.last .content::before{
        left: calc(50% - -2px);
    }
}