/* menu */
#list{
    background: var(--bg-block);
    padding: 35px 0;

    position: sticky;
    top: 0;
    z-index: 2;
    transition: .5s;
}

#list.sticky{
    padding: 20px 0;
}

#list .wrapper{
    grid-template-columns: auto 1fr;
    align-items: center;

    position: relative;
}

@media(max-width:1240px) {
    #list .wrapper{
        grid-template-columns: 100px 1fr 100px;
        grid-gap: 20px;
    }
}

/* "притиснутий блок" */
#list.sticky .wrapper{
    grid-template-columns: 100px 1fr 100px;
    grid-gap: 20px;    
}

@media(max-width:450px) {
    #list.sticky .wrapper,
    #list .wrapper{
        grid-template-columns: auto 1fr auto;
        grid-gap: 20px;
    }
}

/* button! */
#list-button{
    color: var(--green);
    font-size: 22px;
    display: inline-block;
    padding-right: 20px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23036838' viewBox='0 0 16 16'%3E%3Cpath d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/%3E%3C/svg%3E");
    background-size: 16px 16px;
    background-position: right center;
    background-repeat: no-repeat;
}

@media(max-width:1240px) {
    #list-button{
        text-indent: -9999px;

        width: 32px;
        height: 32px;
        cursor: pointer;
        padding: 0;

        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
        background-size: 32px 32px;
    }
}

#list.sticky #list-button{
    text-indent: -9999px;

    /* width: 32px;
    height: 32px; */
    cursor: pointer;
    /* padding: 0; */
    /* padding: 0 30px; */
    margin: 0 0 0 30px;

    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23036838' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E"); */

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23036838'%3E%3Crect height='2' width='20' y='2' x='2'/%3E%3Crect height='2' width='20' y='11' x='2'/%3E%3Crect height='2' width='20' y='20' x='2'/%3E%3C/g%3E%3C/svg%3E");
    
    background-size: 24px 24px;
    
    width: 24px;
    height: 24px;
}

#list.sticky #list-button.active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23036838' viewBox='0 0 16 16'%3E%3Cpath d='M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E");
    background-size: 30px 22px;
}

#list ul{
    display: grid;
    grid-template-columns: repeat(8,auto);
}

/* ховaємо на мобільних */
@media(max-width:1240px) {
    #list ul{
        display: none;
    }
}

#list.sticky ul{
    display: none;
}

#list li{
    display: inline-block;
    margin: 0 25px 0 0;
    padding: 0 0 0 25px;
    border-left: 1px solid var(--green-ultralight);
    text-align: center;
}

#list li:first-child {
    border: none;
}

#list li a{
    color: var(--green);
    font-size: 18px;
    text-decoration: none;
    transition: .5s;
}

#list li a:hover{
    color: var(--dark);
}

@media(max-width:1240px) {
    #list #search{
        order: 2;
    }

    #list #basket{
        order: 3;
        margin: 0 13px 0 auto;
    }
}

/* мобільне меню (click) */
#list.sticky ul.active{
    position: absolute;
    top: 90px;
    left: 0;
    display: block;
    width: 280px;
    border: 3px solid var(--green);
    background: var(--white);
    padding: 10px;
    border-radius: 10px;

    user-select: none;
}

#list.sticky ul.active::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 3px solid var(--green);
    border-top: 3px solid var(--green);
    border-radius: 3px;
    background: var(--white);
    transform: rotate(45deg);
    position: absolute;
    top: -12px;
    left: 30px;
}

#list.sticky ul.active li{
    display: block;
    margin: 0;
    padding: 10px 0;
    border: none;
}

/* блок, де буде виводитися інформація по кліку */
#list #view{
    display: none;
    position: absolute;
    width: 100%;
}

#list #view.active{
    display: block;
}

#list #view .wrapper{
    grid-template-columns: 1fr;
}