
/* modal basket */
#modal-basket {
    border-radius: var(--radius-15);
    background: var(--white);
    padding: 20px;
    width: 1000px;
    height: 580px;
    position: fixed;
    z-index: 10;
    overflow: hidden;
    top: calc(50% - 230px);
    left: calc(50% - 500px);
}

/* кнопка закриття */
#modal-button-close {
    position: absolute;
    top: 13px;
    right: 13px;
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23036838' viewBox='0 0 16 16'%3E%3Cpath d='M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E");
    cursor: pointer;
}


/* кількість товарів + sum */
#modal-quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    background: var(--green-superultralight);
    margin: 10px 0;
}

/* кількість товарів */
#modal-basket-number{
    /* margin: 10px 0 30px */
}

/* товари */
#modal-basket .products{
    /* margin: 10px 0; */
    margin: 0;
    overflow-y: scroll;
    height: 320px;
}

/* товар у кошикові */
#modal-basket .product{
    position: relative;
    display: grid;
    grid-gap: 20px 30px;
    grid-template-columns: auto 1fr 100px;
    grid-template-areas: 
        'product-image product-label product-delete'
        'product-image product-title product-delete'
        'product-image product-caption product-delete';
    box-shadow: none;
    text-align: left;
    border-radius: 0;
    margin-bottom: 20px;
}

@media(max-width:776px) {
    #modal-basket .product{
        grid-template-columns: 1fr 2fr 50px;
        grid-template-areas: 
            'product-image product-label product-label'
            'product-image product-title product-title'
            'product-caption product-caption product-delete';
        grid-gap: 0 10px;
    }
}

@media(max-width:400px) {
    #modal-basket .product{
        grid-template-columns: 1fr;
        grid-template-areas: 
            'product-image'
            'product-label'
            'product-title'
            'product-caption';
        grid-gap: 10px;
    }
}

#modal-basket .product-image{
    grid-area: product-image;

    height: 180px;
    width: 200px;    
}

@media(max-width:776px) {
    #modal-basket .product-image{
        height: auto;
    }    
}

@media(max-width:450px) {
    #modal-basket .product-image{
        width: 120px;
    }
    #modal-basket .product-marker{
        width: 120px;
    }
}

@media(max-width:400px) {
    #modal-basket .product-image{
        width: 100%;
    }
    #modal-basket .product-marker{
        width: calc(100% - 40px);
    }
}

#modal-basket .product-label{
    grid-area: product-label;

    margin: 0;
}

#modal-basket .product-title{
    grid-area: product-title;

    margin: 0;
}

#modal-basket .product-caption{
    grid-area: product-caption;

    margin: 0;
}

@media(max-width:776px) {
    #modal-basket .product-caption{
        justify-content: space-around;
        text-align: left;
    }
}

@media(max-width:400px) {
    #modal-basket .product-quantity {
        margin: 0;
    }
}

#modal-basket .product-delete{
    grid-area: product-delete;
}

@media(max-width:400px){
    #modal-basket .product-delete{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        background: var(--red);
    }

    #modal-basket .product-delete span{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 16 16'%3E%3Cpath d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z'/%3E%3Cpath fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z'/%3E%3C/svg%3E");
    }
}

/* кнопки оформлення і загальна сума */
#modal-buttons{
    margin: 30px 0;
    display: grid;
    align-items: end;
    /* grid-template-columns: auto 1fr auto; */
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    text-align: center;
}

@media(max-width:776px) {
    #modal-buttons{
        grid-template-columns: 1fr;
        grid-gap: 10px
    }    
}

#modal-buttons strong{
    color: var(--green);
}

#modal-buttons button{
    margin: 0 10px 0 0;
    display: inline-block;
    padding: 15px 25px;
    border-radius: var(--radius);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background: var(--white);
    color: var(--gray-dark);
    border: 2px solid var(--green);
    padding: 14px 23px;
    cursor: pointer;
}

#modal-buttons button:hover{
    background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 50%, rgba(238,238,238,1) 100%);
}

#modal-buttons button:first-child{
    background: var(--gradient);
    color: var(--white);
}

#modal-buttons button:first-child:hover{
    background: var(--gradient-reverce);
}

/* загальна сума */
/* #modal-sum span{
    display: inline-block;
    padding: 0 0 10px;
    border-bottom: 1px solid var(--green);
} */

@media(max-width:1240px) {
    #modal-basket {
        width: 95%;
        min-height: 580px;
        top: calc(50% - 230px);
        left: 2.5%;
    }
}

@media(max-width:776px) {
    #modal-basket {

        /* height: calc(100vh - 100px); */
        /* top: 100px; */
        /* overflow-y: scroll; */


        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: auto;
        border-radius: 0;
        height: auto;
        overflow: hidden;
    }
}