.single-article{
    margin: 60px 0;
    display: flex;
    gap: 60px;      
}

@media(max-width:776px) {
    .single-article{
        flex-direction: column;
    }
}

@media(max-width:450px) {
    .single-article{
        gap: 30px;
    }
}

.single-article + .single-article{
    margin: 0 0 60px;
}

.single-article article{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 60px;
}

@media(max-width:776px) {
    .single-article article{
        width: 100%;
        order: 2;
    }
}

@media(max-width:450px) {
    .single-article article{
        padding: 0 30px;
    }
}

.single-article article h2{
    margin: 0 0 30px;
}

@media(max-width:776px) {
    .single-article article h2{
        font-size: 24px;
    }    
}

.single-article article p{
    margin: 0 0 30px;
}

.single-article picture{
    width: 40%;
}

@media(max-width:776px) {
    .single-article picture{
        width: 100%;
        order: 1;
        text-align: center;
    }
}