
/* 3 кроки */
#steps{
    margin: 70px 0;
}

#steps .wrapper{
    display: flex;
    align-items: center;
}

#steps p{
    position: relative;
    margin: 0 0 0 40px;
    color: var(--gray-ultralight);
    font-size: 16px;
}

#steps p:first-child{
    margin: 0;
}

@media(max-width:540px) {
    #steps p{
        margin: 0;
    } 
}

#steps p::before {
    content: '';
    border: solid var(--gray-ultralight);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    width: 22px;
    height: 22px;
    transform: rotate(-45deg);
    position: absolute;
    top: calc(50% - 11px);
    left: -40px;
}

#steps p:first-child::before{
    display: none;
}

#steps p.active{
    color: var(--green);
}