
#trust{
    margin: 70px 0
}

#trust h2{
    text-align: center;
    /* font-size: 36px; */
    margin: 0 0 30px;
}

#trust .wrapper{
    grid-template-columns: repeat(2,1fr);
    grid-gap: 70px;
}

#trust svg{
    width: 54px;
    height: 54px;
    fill: var(--green);
    margin: 0 0 10px;
}

#trust h3,
#trust h4{
    margin: 0 0 10px;
    color: var(--green);
}

@media(max-width:540px) {
    #trust .wrapper{
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }

    #trust article{
        text-align: center;
    }
}